asgiref==3.2.10
beautifulsoup4==4.9.3
boto3==1.17.93
botocore==1.20.93
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==3.1.2
django-cacheops==6.0
django-cors-headers==3.5.0
django-crontab==0.7.1
django-health-check==3.14.3
django-redis==5.0.0
djangorestframework==3.12.1
djangorestframework-simplejwt==4.4.0
drf-yasg==1.20.0
funcy==1.16
gunicorn==20.1.0
idna==2.10
inflection==0.5.1
itypes==1.2.0
Jinja2==2.11.2
jmespath==0.10.0
jsonfield==3.1.0
khuauth==0.0.2
MarkupSafe==1.1.1
mysqlclient==2.1.0
packaging==20.8
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
redis==3.5.3
requests==2.24.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.4.2
selenium==3.141.0
six==1.16.0
slack-sdk==3.9.1
soupsieve==2.0.1
sqlparse==0.4.1
uritemplate==3.0.1
urllib3==1.25.11
